/* Base Rule */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;
   }
   
   html{
       font-size: 62.5%;
   }
   
   h1,h2,h3,h4,h5,h6{
       font-family: 'Poppins', sans-serif;
   }
   
   p,li,a,label{
       font-family: "Urbanist", sans-serif;
       font-size: 1.8rem;
       letter-spacing: 0.1rem;
       font-weight: 400;
       line-height: 1.5;
   }
   
   a{
       text-decoration: none;
       color: var(--font-color);
   }
   
   li{
       list-style: none;
       color: var(--font-color);
   }
   
   
   
   /* Color, Theme */
   :root{
       --main-color: #2f4f7f;
       --second-color: #f9f9f9;
       --font-color: #424242;
       --bg-color: #f9f9f9;
       --heading-color: #000a19;
       --hero-heading-color: #070f40;
       --para-color: #504e4d;
       --btn-hover-bg-color: #0035e1;
       --btn-box-shadow: 0 7px 29px 0px rgba(100, 100, 111, 0.2);
       --footer-bg-color: #201e1e;
   }
   
   
   /* Layout */
   .grid{
       display: grid;
   }
   
   .grid-two--cols{
       grid-template-columns: repeat(2, 1fr);
   }
   .grid-three--cols{
       grid-template-columns: repeat(3, 1fr);
   }
   .grid-four--cols{
       grid-template-columns: repeat(4, 1fr);
   }